@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    width: 80%;
    height: 10vh;
    margin:  auto;
    align-items: center;
}
.logo-container, .nav-links, .cart{
    display: flex;
}
.logo-container{
    flex: 1;
}
nav{
    flex: 2;

}
.logo{
    font-weight: 400;
    margin: 5px;
}
.cart{
    flex: 1;
    justify-content: flex-end;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.navlink{
    color: #a5a5a5;
    font-size: 18px;
}
a:hover{
    color: #4D4D4D;
    text-decoration: underline solid #4D4D4D;
}
.logo1,.cart1{
    width: 30px;
    height: 30px;
}
.asus{
    width: 500px;
    height: 60vh;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}
.presentation{
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 15px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #659CFF;
    background: transparent;
    color: #659CFF;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-add{
    width: 150px;
    height: 50px;
    background: #659CFF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 30px 0px 0px 30px;
}
.cta-add:hover{
    background: #1d6cff;
    font-weight: 500;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (max-width:1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .logo container{
        text-align: center;
    }
    .nav-links{
        margin-left: 0px;
    }
    .asus{
        margin: 20px 0px 0px 0px;
        align-content: center;
    }
    .logo1{
        align-items: center;
        margin-top: 10px;
    }
    .nav-links{
        justify-content: space-around;
        
    }
    /* .logo{
        font-size: 12px;
    }
    .navlink{
        font-size: 12px;
    } */
}